button {
    border: 1px solid black;
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}